@font-face {
  font-family: fuentebenelli;
  src: url(./fuente/Myriad\ Pro\ Condensed.ttf);
}
body {
  overflow-y: scroll;
}

* {
  font-family: fuentebenelli;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.logo {
  padding-top: 52px;

  height: 148px;
}

header {
  z-index: 3;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
}

.colorletrasheader {
  color: #a3a3a4;
  font-size: 1.2rem;
}

.idiomap {
  color: #a3a3a4;
  font-size: 1.2rem;
  word-spacing: 2px;
}

/*div del Nav lado izquierdo modelos.compañia.noticias******************************************************************** */
.divnav1 {
  display: flex;
  align-items: center;
  gap: 81.2%;
}

/* Nav lado izquierdo modelos.compañia.noticias************************************************************************** */
.navbar-1 {
  gap: 24px;
  letter-spacing: 0.8px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  padding-left: 34%;
}

/* cuando pasamos el mouse por encima cambia a verde en el encabezado**************************************************** */
.colorletrasheader:hover {
  cursor: pointer;
  color: rgb(28, 124, 28);
}

.botonidioma p:hover {
  cursor: pointer;
  color: rgb(28, 124, 28);
}

/*div del Nav lado derecho tiendas.contacto.idioma*********************************************************************** */
.divnav2 {
  display: flex;

  align-items: center;
  margin-right: 8%;
  gap: 22px;
}

/*Nav lado derecho tiendas.contacto.idioma****************************************************************************** */
.navbar-2 {
  gap: 23px;
  letter-spacing: 0.8px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}

/* detalles boton idioma *********************************************************************************************** */
.iconomundo {
  height: 21px;
}

.flechaabajo {
  height: 26px;
}

.botonidioma {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  background-color: rgb(0, 0, 0, 9);
}

/* comiendo del main primer seccion: TRK 502****************************************************************************************************  */

.sectrk502 {
  background: linear-gradient(rgb(0, 0, 0) 3%, rgb(158, 30, 40) 96%);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgtrk502 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 462px;
  margin-top: 2rem;
}

.h1trk502 {
  margin-top: 97px;
  margin-bottom: 0.25rem;
  font-size: 57px;
  letter-spacing: 2px;
  padding-top: 98px;
  font-weight: 900;
  line-height: 1;
}

.sectrk502 p {
  font-size: 33px;
  font-weight: 100;
}

.vermastrk {
  font-size: 20px;
  font-weight: 100;
  padding-top: 5px;
}

.vermastrk:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
  line-height: 0.8;
}

/* seccion 2 del main:  dos imagenes completando el ancho de la pantalla************************************************************************************  */
.seccion2 {
  display: flex;

  height: auto;
  border: solid #fff 15px;
}

.div400 {
  z-index: 2;
  display: flex;
  width: 50%;
  border-right: solid #fff 7.5px;
  overflow: hidden;
}

.img400 {
  height: 82%;
  position: relative;
  left: -330px;
}

.h2imperiale {
  position: absolute;
  color: #fff;
  font-size: 60px;
  letter-spacing: 1px;
  display: flex;
  padding-left: 180px;
  padding-top: 90px;
}

.pimperiale {
  position: absolute;
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
  display: flex;
  width: 350px;
  text-align: center;
  margin-left: 150px;
  margin-top: 160px;
}

.vermasimperiale {
  position: absolute;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  display: flex;
  width: 350px;
  text-align: center;
  margin-left: 285px;
  margin-top: 323px;
}

.vermasimperiale:hover {
  cursor: pointer;
  border-bottom: solid #fff 2px;
  width: auto;
}

.div502 {
  z-index: 2;
  display: flex;
  width: 50%;
  border-left: solid #fff 7.5px;
  overflow: hidden;
}

.img502 {
  height: 82%;
  position: relative;
  left: -330px;
}

.h2502 {
  display: flex;
  position: absolute;
  padding-top: 90px;
  padding-left: 280px;
  color: #fff;
  font-size: 60px;
  letter-spacing: 1px;
}

.p502 {
  position: absolute;
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
  display: flex;
  width: 350px;
  text-align: center;
  margin-left: 150px;
  margin-top: 160px;
  line-height: 1.3;
}

.vermas502 {
  position: absolute;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  display: flex;
  width: 350px;
  text-align: center;
  margin-left: 285px;
  margin-top: 240px;
}

.vermas502:hover {
  cursor: pointer;
  border-bottom: solid #fff 2px;
  width: auto;
}

/* tercer seccion del main : cuadros con publicaciones en las redes sociales */
.secredes {
  background-color: #000;
  height: 100vh;
  width: 100%;
}
